.form-control-contact {
    background-color: #011c4e;
    color: #fff;
}

.form-control-contact::placeholder {
    color: #7484a1;
}

.form-control-contact:focus {
    background-color: #00153d;
    color: #fff;
}

.message-input {
    height: 100px !important;
}



.error {
    color: #ff4524;
}