.navLink {
    color: #fff !important;
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 9999;
}

.dropdown-content .navLink {
    color: #002366 !important;
}

.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    --tw-bg-opacity: 1;
    background-color: #00a272;
    --tw-text-opacity: 1;
    color: #fff !important;
    border: 1px solid #fff;
    font-weight: 500;
}